<a href="https://colab.research.google.com/github/weiyuchen1213/CE888/blob/master/EV_Charging_demand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Load data
url = 'https://raw.githubusercontent.com/weiyuchen1213/EV-charging-demand-forecasting/master/dataset/AbbyEvan-pod-7526-charges.csv'

df = pd.read_csv(url)

In [ ]:
df.head()

         Started At          Ended At Energy Used  Duration (seconds) CO2 Saved
0  16/10/2018 07:50  16/10/2018 16:44     9.20kWh               32070   5.152kg
1  16/10/2018 12:48  16/10/2018 16:01    10.60kWh               11617   5.936kg
2  17/10/2018 08:26  17/10/2018 08:41     0.80kWh                 881   0.448kg
3  19/10/2018 10:21  19/10/2018 10:35     0.80kWh                 851   0.448kg
4  23/10/2018 07:42  23/10/2018 15:57    14.10kWh               29697   7.896kg

# New section

In [3]:
from datetime import date 
import holidays 

uk_holidays = holidays.UnitedKingdom() 
  
# Print all the holidays in UnitedKingdom in year 2018 
for ptr in holidays.UnitedKingdom(years = 2018).items(): 
    print(ptr)

(datetime.date(2018, 1, 1), "New Year's Day")
(datetime.date(2018, 1, 2), 'New Year Holiday [Scotland]')
(datetime.date(2018, 3, 17), "St. Patrick's Day [Northern Ireland]")
(datetime.date(2018, 3, 19), "St. Patrick's Day [Northern Ireland] (Observed)")
(datetime.date(2018, 3, 30), 'Good Friday')
(datetime.date(2018, 4, 2), 'Easter Monday [England, Wales, Northern Ireland]')
(datetime.date(2018, 5, 7), 'May Day')
(datetime.date(2018, 5, 28), 'Spring Bank Holiday')
(datetime.date(2018, 7, 12), 'Battle of the Boyne [Northern Ireland]')
(datetime.date(2018, 8, 6), 'Summer Bank Holiday [Scotland]')
(datetime.date(2018, 8, 27), 'Late Summer Bank Holiday [England, Wales, Northern Ireland]')
(datetime.date(2018, 11, 30), "St. Andrew's Day [Scotland]")
(datetime.date(2018, 12, 25), 'Christmas Day')
(datetime.date(2018, 12, 26), 'Boxing Day')