<a href="https://colab.research.google.com/github/weiyuchen1213/CE888/blob/master/EV_Charging_demand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load data
url = 'https://raw.githubusercontent.com/weiyuchen1213/EV-charging-demand-forecasting/master/dataset/AbbyEvan-pod-7526-charges.csv'

df = pd.read_csv(url)

In [3]:
df.head()

         Started At          Ended At Energy Used  Duration (seconds) CO2 Saved
0  16/10/2018 07:50  16/10/2018 16:44     9.20kWh               32070   5.152kg
1  16/10/2018 12:48  16/10/2018 16:01    10.60kWh               11617   5.936kg
2  17/10/2018 08:26  17/10/2018 08:41     0.80kWh                 881   0.448kg
3  19/10/2018 10:21  19/10/2018 10:35     0.80kWh                 851   0.448kg
4  23/10/2018 07:42  23/10/2018 15:57    14.10kWh               29697   7.896kg

In [9]:
#ref:https://stackoverflow.com/questions/49367877/split-datetime-column-into-separate-date-and-time-columns

df['Started At'] = pd.to_datetime(df['Started At'])
df['Date'] = df['Started At'].dt.strftime('%d/%m/%Y')
df['Time'] = df['Started At'].dt.strftime('%H:%M')

             Started At          Ended At  ...        Date   Time
0   2018-10-16 07:50:00  16/10/2018 16:44  ...  16/10/2018  07:50
1   2018-10-16 12:48:00  16/10/2018 16:01  ...  16/10/2018  12:48
2   2018-10-17 08:26:00  17/10/2018 08:41  ...  17/10/2018  08:26
3   2018-10-19 10:21:00  19/10/2018 10:35  ...  19/10/2018  10:21
4   2018-10-23 07:42:00  23/10/2018 15:57  ...  23/10/2018  07:42
..                  ...               ...  ...         ...    ...
353 2020-04-02 08:38:00  04/02/2020 16:46  ...  02/04/2020  08:38
354 2020-05-02 08:21:00  05/02/2020 16:43  ...  02/05/2020  08:21
355 2020-05-02 09:51:00  05/02/2020 17:52  ...  02/05/2020  09:51
356 2020-06-02 08:25:00  06/02/2020 16:56  ...  02/06/2020  08:25
357 2020-07-02 08:57:00  07/02/2020 09:54  ...  02/07/2020  08:57

[358 rows x 7 columns]

# New section

In [ ]:
from datetime import date 
import holidays 

uk_holidays = holidays.UnitedKingdom() 
  
# Print all the holidays in UnitedKingdom in year 2018 
for ptr in holidays.UnitedKingdom(years = 2018).items(): 
    print(ptr)

(datetime.date(2018, 1, 1), "New Year's Day")
(datetime.date(2018, 1, 2), 'New Year Holiday [Scotland]')
(datetime.date(2018, 3, 17), "St. Patrick's Day [Northern Ireland]")
(datetime.date(2018, 3, 19), "St. Patrick's Day [Northern Ireland] (Observed)")
(datetime.date(2018, 3, 30), 'Good Friday')
(datetime.date(2018, 4, 2), 'Easter Monday [England, Wales, Northern Ireland]')
(datetime.date(2018, 5, 7), 'May Day')
(datetime.date(2018, 5, 28), 'Spring Bank Holiday')
(datetime.date(2018, 7, 12), 'Battle of the Boyne [Northern Ireland]')
(datetime.date(2018, 8, 6), 'Summer Bank Holiday [Scotland]')
(datetime.date(2018, 8, 27), 'Late Summer Bank Holiday [England, Wales, Northern Ireland]')
(datetime.date(2018, 11, 30), "St. Andrew's Day [Scotland]")
(datetime.date(2018, 12, 25), 'Christmas Day')
(datetime.date(2018, 12, 26), 'Boxing Day')